name: Linter

on: [push, pull_request]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: psf/black@stable
        with:
            options: "--check --verbose"
            use_pyproject: true
      - uses: isort/isort-action@v1
        with:
          sort-paths: PyEMD
